swagger: '2.0'
info:
  description: 喜马把脉健康平台 API v2
  version: 2.1.3-beta
  title: 喜马把脉健康平台 API v2
  termsOfService: 'http://www.jinmuhealth.com/legalProvisions/developer-agreement.html'
  contact:
    email: support@jinmuhealth.com
host: 'sandbox-api.jinmuhealth.com:49433'
basePath: /v2-api
tags:
  - name: version
    description: 版本
  - name: client
    description: App 客户端
  - name: auth
    description: 用户授权
  - name: organization
    description: 组织管理
  - name: organization_user
    description: 组织的用户管理
  - name: subscription
    description: 订阅
  - name: measurement
    description: 测量与分析
  - name: device
    description: Device 管理
  - name: feedback
    description: 意见反馈
  - name: tip
    description: 测量提示
  - name: res
    description: 资源文件
  - name: notification 
    description: 本地消息推送
  - name: bluetooth
    description: 蓝牙
  - name: activation_code
    description: 激活码 
schemes:
  - https
paths:
  '/version':
    get:
      summary: 查看版本信息
      operationId: getVersion
      tags:
        - version
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/VersionResponse'
          examples:
            application/json:
              ok: true
              data:
                version: string
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'
          examples:
            application/json:
              ok: false
              error:
                msg: string
                code: 400
  '/configuration/local_notification': 
    get:
      summary: 获取本地推送消息
      operationId: getLocalNotifications
      tags:
        - notification
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/LocalNotificationResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'
  '/client/auth':
    post:
      tags:
        - client
      summary: 提交客户端授权
      operationId: submitClientAuth
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/Auth'
      responses:
        '200':
          description: 成功响应 
          schema:
            $ref: '#/definitions/ClientAuthResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'

  # User - Login 用户登录
  '/users/signin':
    post:
      tags:
        - auth
      summary: 用户登录
      operationId: userSignIn
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          description: Client验证授权信息
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UserSignIn'
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/UsersSignInResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'

  '/users/signout':
    post:
      tags:
        - auth
      summary: 注销用户登录
      operationId: userSignOut
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          description: Client验证授权信息
          required: true
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录 token
          required: true
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/SignOutResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'
  '/user/{user_id}/token':
    get:
      summary: 获取最新token  
      operationId: getLatestToken
      tags:
        - auth
      consumes:
        - application/json
      produces:
        - application/json        
      parameters:
        - name: Authorization
          in: header
          type: string
          description: Client验证授权信息
          required: true
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录 token
          required: true
        - name: user_id
          in: path
          type: integer
          required: true
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/GetLatestTokenResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'
  
  # Owner - Organization Management 组织管理
  '/owner/organizations':
    get:
      tags:
        - organization
      summary: Owner 查看拥有的组织清单
      operationId: ownerGetOrganizationList
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录 token
          required: true
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/MoreOrganizationsResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'

  '/owner/organizations/{organization_id}':
    put:
      tags:
        - organization
      summary: Owner修改组织信息
      operationId: ownerModifyOrganization
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录 token
          required: true
        - name: organization_id
          in: path
          type: integer
          required: true
        - name: body
          in: body
          schema:
            $ref: '#/definitions/OrganizationProfileBody'
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/OrganizationsResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'

  '/user/{user_id}/subscription':
    get:
      tags:
        - subscription
      summary: 用户获取当前订阅情况
      operationId: getUserSubscription
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录 token
          required: true
        - name: user_id
          in: path
          type: integer
          required: true
  
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/getUserSubscriptionResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'    
  # Owner - Subscription 组织订阅
  '/owner/organizations/{organization_id}/subscription':
    post:
      tags:
        - subscription
      summary: Owner 查询组织订阅
      operationId: ownerGetOrganizationSubscription
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录 token
          required: true
        - name: organization_id
          in: path
          type: integer
          required: true
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/SubscriptionResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'             
  
  # Owner - User Management
  '/owner/users/signup':
    post:
      tags:
        - organization_user
      summary: Owner 在组织下注册一个用户
      operationId: ownerCreateUser
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          description: Client验证授权信息
          required: true
        - name: X-Access-Token
          in: header
          type: string
          description: 机构登录会话信息
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/OwnerSignUp'
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/OwnerSignUpResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'

  '/owner/users/{user_id}/preferences':
    get:
      tags:
        - organization_user
      summary: Owner 获取组织下用户的首选项配置
      operationId: ownerGetOrganizationUserPreferences
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录 token
        - name: user_id
          in: path
          type: integer
          description: UserID
          required: true
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/OrganizationResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'

  '/owner/users/{user_id}/profile':
    get:
      tags:
        - organization_user
      summary: Owner 获取组织下用户的个人档案
      operationId: ownerGetOrganizationUserProfile
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          description: Client验证授权信息
          required: true
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录 token
          required: true
        - name: user_id
          in: path
          description: 用户 id
          required: true
          type: integer
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/UserProfileResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'

    put:
      tags:
        - organization_user
      summary: Owner 修改组织下用户的个人档案
      operationId: ownerModifyOrganizationUserProfile
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: user_id
          in: path
          description: 用户 ID
          required: true
          type: integer
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录 token
          required: true
        - name: body
          in: body
          description: 客户档案
          schema:
            $ref: '#/definitions/PutUserProfile'
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/UserProfileResponse'    
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'

  '/owner/organizations/{organization_id}/users':
    post:
      tags:
        - organization_user
      summary: Owner 向组织批量关联多个 Users
      operationId: ownerBulkAddOrganizationUsers
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: organization_id
          in: path
          type: integer
          required: true
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录 token
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UserIDList'
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/MoreUserProfileResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'

    get:
      tags:
        - organization_user
      summary: Owner 查看组织下关联的 Users
      operationId: ownerGetOrganizationUsers
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: organization_id
          in: path
          type: integer
          required: true
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录 token
          required: true
        - name: offset
          in: query
          type: integer
          description: 分页偏移量
        - name: size
          in: query
          type: integer
          description: 每页最大显示数量
        - name: keyword
          type: string
          in: query
          description: 搜索关键词
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/MoreUserProfileResponse'       
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'

  '/owner/organizations/{organization_id}/users/delete':              
    post:
      tags:
        - organization_user
      summary: Owner 向组织批量解除关联多个 User
      operationId: ownerBulkDeleteOrganizationUsers
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: organization_id
          in: path
          type: integer
          required: true
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录 token
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UserIDList'
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/CancelOwnerResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'

  '/owner/organizations/{organization_id}/admins':
    post:
      tags:
        - organization_user
      summary: Owner 向组织批量关联多个管理员
      operationId: ownerBulkAddOrganizationAdmins
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: organization_id
          in: path
          type: integer
          required: true
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录 token
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UserIDList'
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/MoreUserProfileResponse'            
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'

    get:
      tags:
        - organization_user
      summary: Owner 查看组织下关联的 Admins
      operationId: ownerGetOrganizationAdmins
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: organization_id
          in: path
          type: integer
          required: true
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录 token
          required: true
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/MoreUserProfileResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'

  '/owner/organizations/{organization_id}/admins/{user_id}/delete':
    post:
      tags:
        - organization_user
      summary: Owner 向组织批量解除关联多个管理员
      operationId: ownerBulkDeleteOrganizationAdmins
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: organization_id
          in: path
          type: integer
          required: true
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录 token
          required: true
        - name: user_id
          in: path
          type: integer
          required: true
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/CancelAdminResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'
  
  # Owner - Measurements 测量与分析
  '/owner/measurements':
    post:
      tags:
        - measurement
      summary: 提交测量 
      operationId: ownerSubmitMeasurement
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录 token
          required: true
        - name: body
          in: body
          schema:
            $ref: '#/definitions/Measurement'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MeasureResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'
    get:
      tags:
        - measurement
      summary: 查看测量历史记录
      description: 测量历史记录.最新的结果会靠前
      operationId: ownerQueryMeasurementList
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录 token
          required: true
        - name: start
          type: string
          in: query
          description: '筛选起始时间，UTC时区， 2018-07-04T08:01:27Z 格式'
          format: date-time
        - name: end
          type: string
          in: query
          description: '筛选结束时间，UTC时区， 2018-07-04T08:01:27Z 格式'
          format: date-time
        - name: offset
          in: query
          type: integer
          description: 分页偏移量
        - name: size
          in: query
          type: integer
          description: 每页最大显示数量
        - name: user_id
          in: query
          required: true
          type: integer
          description: 用户ID
      responses:
        '200':
          schema:
            $ref: '#/definitions/MeasurementDataWithAnalysisResponse'
          examples:
            application/json:
              ok: true
              error:
                msg: string
                code: 400
              data:
                - 
                  user_id: 12
                  cid: 0
                  transaction_no: string
                  record_id: 0
                  c0: 0
                  c1: 0
                  c2: 0
                  c3: 0
                  c4: 0
                  c5: 0
                  c6: 0
                  c7: 0
                  app_heart_rate: 0
                  remark: string
                  created_at: "2019-03-15T06:30:58.365Z"
                  heart_rate: 0
                  finger: 0
                  record_type: 0
                  tags:
                  - 
                    key: string
                    label: string
                    content: string
                  has_paid: true
                  show_full_report: true
                  
          description: OK
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'

  '/owner/measurements/{record_id}/remark':
    put:
      tags:
        - measurement
      summary: 修改测量备注
      description: 修改测量备注
      operationId: ownerModifyMeasurementRemark
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录token
          required: true
        - name: record_id
          in: path
          type: integer
          description: 测量记录ID
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/Remark'
      responses:      
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/RemarkResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'

  '/owner/measurements/{record_id}/token':
    get:
      tags:
        - measurement
      summary: 得到分享的token
      description: 得到分享的token
      operationId: ownerGetRecordToken
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录token
          required: true
        - name: record_id
          in: path
          type: integer
          description: 测量记录ID
          required: true
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/RecordTokenResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'
  '/owner/measurements/token/{token}/analyze':
    get:
      tags:
        - measurement
      summary: 得到分析报告
      description: 得到分析报告
      operationId: ownerGetAnalyzeResultByToken
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: token
          in: path
          type: string
          description: 分享的token
          required: true
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/GetAnalysisResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'                            
  '/owner/measurements/{record_id}/analyze':
    post:
      tags:
        - measurement
      summary: 提交智能分析
      operationId: ownerSubmitMeasurementAnalysis
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: record_id
          in: path
          required: true
          type: integer
          description: 测量流水号
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录 token
          required: true
        - name: body
          in: body
          required: false
          schema:
            $ref: '#/definitions/Analysis'
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/AnalysisResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'

    get:
      tags:
        - measurement
      summary: 获取智能分析
      operationId: ownerGetMeasurementAnalysis
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: record_id
          in: path
          required: true
          type: integer
          description: 测量流水号
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录 token
          required: true
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/GetAnalysisResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'
  
  # Owner - Devices 设备
  '/owner/organizations/{organization_id}/devices':
    post:
      tags:
        - device
      summary: 批量关联 Device
      operationId: ownerBindOrganizationDevices
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录 token
          required: true
        - name: organization_id
          in: path
          type: integer
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeviceList'
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/BindDevicesResponse'

        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'

    get:
      tags:
        - device
      summary: 获取组织关联的 Device 列表
      operationId: ownerGetOrganizationDeviceList
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录 token
          required: true
        - name: organization_id
          in: path
          type: integer
          required: true
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/GetDeviceResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'

  '/owner/organizations/{organization_id}/devices/delete':              
    post:
      tags:
        - device
      summary: 批量解除组织关联的 Device
      operationId: ownerUnbindOrganizationDevices
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录 token
          required: true
        - name: organization_id
          in: path
          type: integer
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeviceList'
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/UnbindDeviceResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'

  '/owner/organizations/{organization_id}/devices/is_bindable':
    post:
      tags:
        - device
      summary: 判断 Device 是否可以被该组织关联
      operationId: ownerCheckOrganizationDeviceBindable
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录 token
          required: true
        - name: organization_id
          in: path
          type: integer
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/Device'
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/IsBindDevicesResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'
  
  # 测量提示
  '/tips':
    get:
      tags:
        - tip
      summary:  测量提示
      operationId: getTips
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: X-Access-Token
          in: header
          type: string
          description: 用户登录 token
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/TipsResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'

  # 意见反馈
  '/feedback':
    post:
      tags:
        - feedback
      summary: 意见反馈
      operationId: submitFeedback
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: X-Access-Token
          in: header
          type: string
          description: 机构登录会话信息
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/Feedback'
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/FeedbackResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'
                
  # 获取资源
  '/res/getUrl':
    post:
      tags:
        - res
      summary: 获取喜马把脉资源的baseURL 
      operationId: getJMResBaseURL
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: X-Access-Token
          in: header
          type: string
          description: 机构登录会话信息
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JMRes'
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/JMResResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'
  # 阅读通知          
  '/owner/notification':          
    post:
      tags:
        - notification
      summary: 阅读通知
      operationId: readNotification
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: X-Access-Token
          in: header
          type: string
          description: 机构登录会话信息
          required: true 
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ReadNotification'
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/ReadNotificationResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'
    get:
      tags:
        - notification
      summary: 得到阅读通知
      operationId: getNotifications
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: X-Access-Token
          in: header
          type: string
          description: 机构登录会话信息
          required: true  
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/GetNotificationsResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'  
  # 获取蓝牙名称前缀
  '/bluetooth_name_prefix':
    get:
      tags:
        - bluetooth
      summary: 获取查找搜索蓝牙name前缀
      operationId: getBluetoothNamePrefixes
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: X-Access-Token
          in: header
          type: string
          description: 机构登录会话信息
          required: true
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/GetBluetoothNamePrefixesResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'
  '/activation_code':
    post:
      tags:
        - activation_code
      summary: 得到激活码内容
      operationId: getActivationCodeInfo
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: X-Access-Token
          in: header
          type: string
          description: 机构登录会话信息
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/Code'          
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/GetActivationCodeInfoResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'
  '/owner/user/{user_id}/activation_code':
    post:
      tags:
        - activation_code
      summary:  使用激活码
      operationId: useSubscriptionActivationCode
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
          description: Client验证授权信息
        - name: X-Access-Token
          in: header
          type: string
          description: 机构登录会话信息
          required: true
        - name: user_id
          in: path
          type: integer
          required: true  
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/Code'
      responses:
        '200':
          description: 成功响应
          schema:
            $ref: '#/definitions/UseSubscriptionActivationCodeResponse'
        default:
          description: 失败响应
          schema:
            $ref: '#/definitions/SimpleErrorResponse'            
    
definitions:
  # ==================
  # Enumerations 枚举值
  # ------------------

  # Enum: 注册类型
  RegisterType: &REGISTRY_TYPE
    type: string
    # enum:
    #   - username
    #   - email
    #   - phone
    #   - wechat
    #   - legacy
    description: |
      注册类型，支持以下字符串值：
      - `legacy` - 传统（兼容喜马把脉1.x账号）. 默认值.
      - `username` - 用户名
      - `email` - 邮箱
      - `phone` - 手机
      - `wechat` - 微信
  # Enum: 账号的服务等级
  SubscriptionType: &SUBSCRIPTION_TYPE
    type: string
    # enum:
    #   - Customized
    #   - Trial
    #   - Golden
    #   - Platinum
    #   - Diamond
    #   - Gift
    description: |
      账号的服务等级，支持以下字符串值：
      - `Customized` - 定制化
      - `Trial` - 试用版
      - `Golden` - 黄喜马把脉
      - `Platinum` - 白喜马把脉
      - `Diamond` - 钻石姆
      - `Gift` - 礼品版
  # Enum: 性别
  Gender: &GENDER
    type: integer
    enum: 
      - 0
      - 1
    default: 0
    description: |
      性别:
      - `0` - 男(默认值)
      - `1` - 女
  # Enum: 手指
  Finger: &FINGER
    type: integer
    enum: 
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
    default: 4
    description: |
      手指:
      - `1` - 左小姆
      - `2` - 左无名指
      - `3` - 左中指
      - `4` - 左食指(默认值)
      - `5` - 左大拇
      - `6` - 右大拇
      - `7` - 右食指
      - `8` - 右中指
      - `9` - 右无名指
      - `10` - 右小拇
  # Enum: 本地通知频率基本单位
  Frequency: &FREQUENCY
    type: integer
    enum: 
      - 0
      - 1
      - 2
    description: |
      频率对应关系:
      - `0` - FrequencyDaily
      - `1` - FrequencyWeekly
      - `2` - FrequencyMonthly   
  # Enum: 测量姿态    
  MeasurementPosture: &MeasurementPosture
    type: integer
    enum:
      - 0 
      - 1
      - 2
    default: 0
    description: |
      姿态:
      - `0` - 坐姿
      - `1` - 站姿
      - `2` - 躺姿     
  # Enum: 测量结果记录类型
  RecordType: &RECORD_TYPE
    type: integer
    enum: 
      - 5
      - 7
    default: 7
    description: |
      测量结果记录类型:
        - `5` - 1.5版本
        - `7` - 1.7以上版本(包括1.7), 默认值
  # Enum: 以周为基本单位的类型
  Weekday: &WEEKDAY
    type: integer
    enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
    description: |
      对应关系:
      - `0` - Sunday
      - `1` - Monday
      - `2` - Tuesday  
      - `3` - Wednesday
      - `4` - Thursday
      - `5` - Friday
      - `6` - Saturday          
  # ==================
  # Models 数据模型
  # ------------------
  # AnyValue:
  #   description: Can be any value - string, number, boolean, array or object.
  #   nullable: true
  #   anyOf:
  #       - type: string
  #       - type: number
  #       - type: integer
  #       - type: boolean
  #       - type: array
  #         items: {}
  #       - type: object

  StandardErrorModel:
    type: object
    description: "标准错误消息"
    required:
      - msg
      - code
    properties:
      msg:
        type: string
        description: "错误信息"
        nullable: true
      code:
        type: integer
        description: "错误码"
        nullable: true          

  BasicResponse:
    type: object
    description: "标准Response消息体"
    required:
      - ok
    properties:
      ok:
        type: boolean
        description: "请求是否成功"
      error:
        $ref: '#/definitions/StandardErrorModel'

  SimpleErrorResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - error
        properties:
          error:
            $ref: '#/definitions/StandardErrorModel'

  FeedbackResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        # required:
        #   - data
        properties:
          data:
            nullable: true
            $ref: '#/definitions/NullAble'
  VersionResponse:
    description: Version 响应
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/Version'
  LocalNotificationResponse: 
    description: LocalNotification 响应
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            type: array
            items:
              $ref: '#/definitions/LocalNotification'
    
    
  ClientAuthResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/Authorization'
  Authorization:
    type: object
    properties:
      authorization:
        type: string
        description: Client验证授权信息
  OrganizationResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/Preferences'
  OwnerSignUpResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/User'
  TipsResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            type: array
            items:
              $ref: '#/definitions/TipInfo'
            
  SignUpInfo:
    type: object
    properties:
      user_id:
        type: integer
        description: 用户ID
      username:
        type: string
        description: 用户名
      register_type: *REGISTRY_TYPE
      profile:
        $ref: '#/definitions/UserProfile'
  OwnerSignUp:
    type: object
    properties:
      client_id:
        type: string
        description: 客户端ID
      register_type: *REGISTRY_TYPE
      profile:
        $ref: '#/definitions/UserProfile'
  UsersSignInResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/Client'
  TipInfo:
    type: object
    properties:
      content:
        type: string
        description: 提示的内容
      duration:
        type: integer 
        description: 提示内容的间隔时间               
  Client:
    type: object
    properties:
      access_token:
        type: string
        description: 机构登录会话信息
      remain_days:
        type: integer
        description: 剩余天数
      expired_at:
        type: string
        description: 到期时间
        format: date-time
      user_id:
        type: integer
        description: 用户ID

  UserProfileResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/User'
  JMResResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/BaseURL'
  BaseURL:
    type: object
    properties:
      entry_url:
        type: string
        description:  词条的BaseURL
      faq_url:
        type: string
        description:  faq的BaseURL  
      questionnaire_url:
        type: string
        description:  问答的BaseURL 
  JMRes:
    type: object
    properties:
      client_id:
        type: string
        description: 客户端ID
      app_version:
        type: string
        description: app版本
      mobile_type:
        type: integer
        description: 手机类型 0是Android,1是ios
  User:
    type: object
    properties:
      user_id:
        type: integer
        description: 用户ID
      username:
        type: string
        description: 用户名
      register_type: *REGISTRY_TYPE
      is_profile_completed: 
        type: boolean
        description: profile是否完整/完成初始化 0是完整 1是不完整
      is_removable:
        type: boolean
        description: 是否能够删除  
      profile:
        $ref: '#/definitions/UserProfile'
  MoreUserProfileResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            type: array
            items:
              $ref: '#/definitions/User'
  OrganizationsResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/Organization'

    
  SubscriptionResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/SubscriptionInfo'
  SubscriptionInfo:
    type: object
    properties:
      created_at:
        type: string
        description: '测量日期 utc 时区 2018-07-04T08:01:27Z 格式'
        format: date-time
      total_user_count:
        type: integer
        description: 已经添加的用户数目
      max_user_limits:
        type: integer
        description: 最大用户数目
      subscription_type: *SUBSCRIPTION_TYPE
      expired_at:
        type: string
        description: 到期时间
        format: date-time
      active:
        type: boolean
        description: 是否激活
      message:
        type: string
      expiration_status:  
        type: integer
        description: |
          过期状态
          - `0` 过期
          - `1` 快要过期
          - `2` 没有过期
  Subscription:
    type: object
    properties:
      created_at:
        type: string
        description: '测量日期 utc 时区 2018-07-04T08:01:27Z 格式'
        format: date-time
      total_user_count:
        type: integer
        description: 已经添加的用户数目
      max_user_limits:
        type: integer
        description: 最大用户数目
      subscription_type: *SUBSCRIPTION_TYPE
      expired_at:
        type: string
        description: 到期时间
        format: date-time
      active:
        type: boolean
        description: 是否激活  
  Organization:
    type: object
    properties:
      organization_id:
        type: integer
        description: 组织 id
      subscription:
        $ref: '#/definitions/Subscription'
      profile:
        $ref: '#/definitions/OrganizationProfile'
  MoreOrganizationsResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            type: array
            items:
              $ref: '#/definitions/Organization'
  CancelOwnerResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        # required:
        #   - data
        properties:
          data:
            nullable: true
            $ref: '#/definitions/NullAble'
  CancelAdminResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/Tip'
  
  getUserSubscriptionResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/SubscriptionInformation'
  
  SubscriptionInformation:
      type: object
      properties:
        subscriptions:
            $ref: '#/definitions/SingleSubscriptionInformation'

  SingleSubscriptionInformation:
    allOf:
      - type: object
        properties:
          user_subscription_status:
            type: integer
            enum:
              - 0
              - 1
              - 2
            description: |
              对应关系:
              - `0` - 未订阅
              - `1` - 订阅未过期
              - `2` - 订阅已过期
  MeasureResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/MeasureResult'
  MeasureResult:
    type: object
    properties:
      cid:
        type: integer
        description: 测量流水号
      record_id:
        type: integer
        description: 测量记录ID
      c0:
        type: integer
        description: '心包经 位于区间[-10,10]内'
      c1:
        type: integer
        description: '肝经 位于区间[-10,10]内'
      c2:
        type: integer
        description: '肾经 位于区间[-10,10]内'
      c3:
        type: integer
        description: '脾经 位于区间[-10,10]内'
      c4:
        type: integer
        description: '肺经 位于区间[-10,10]内' 
      c5:
        type: integer
        description: '胃经 位于区间[-10,10]内'
      c6:
        type: integer
        description: '胆经 位于区间[-10,10]内'
      c7:
        type: integer
        description: '膀胱经 位于区间[-10,10]内'
      wave_data:
        type: array
        items:
          type: integer
        description: 截取的波形数据
      app_heart_rate:
        type: integer
        description: App 测量的心率
      app_highest_heart_rate:
        type: integer
        description: App 测的最高心率
      app_lowest_heart_rate:
        type: integer
        description: App 测的最低心率         
      heart_rate:
        type: integer
        description: 服务器返回的心率
      created_at:
        type: string
        description: '测量时间 utc 时区 2018-07-04T08:01:27Z 格式'
        format: date-time
      finger: *FINGER
      record_type: *RECORD_TYPE
  MeasurementDataWithAnalysisResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            type: array
            items:
              $ref: '#/definitions/MeasurementHistoryRecord'
  
  RemarkResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            nullable: true
            $ref: '#/definitions/NullAble'
            
  GetAnalysisResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/AnalysisReport'  
                 
  AnalysisResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/AnalysisResult'
  AnalysisResult:
    type: object
    properties:
      cid:
        type: integer
        description: 上下文ID
      transaction_no:
        type: string  
        description: 测量流水号  
      analysis_session:
        type: string
        description: 智能分析会话信息
      analysis_done:
        type: boolean
        description: 智能分析是否结束，true 表示分析结束，false 表示需要回答问题
      questionnaire:
        $ref: '#/definitions/Questionnaire'
      analysis_report:
        $ref: '#/definitions/AnalysisReport'
      analysis_report_result_error:
        type: string
        description: 智能分析结果是否存在异常 
  SignOutResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            nullable: true
            $ref: '#/definitions/NullAble'
            
  NullAble:          
    type: object
            
  BindDevicesResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/DevicesResult'
  DevicesResult:
    type: object
    properties:
      successful_devices:
        type: array
        items:
          $ref: '#/definitions/Device'
      failed_devices:
        type: array
        items:
          $ref: '#/definitions/Device'
  IsBindDevicesResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/BindInfo'
  BindInfo:
    type: object
    properties:
      bindable:
        type: boolean
        description: Y是能被关联 N是不能被关联
  GetDeviceResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            type: array
            items:
              $ref: '#/definitions/Device'
  UnbindDeviceResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/DevicesResult'
  Feedback:
    type: object
    properties:
      contact_way:
        type: string
        description: 联系方式
      content:
        type: string
        description: 反馈的内容
  Auth:
    type: object
    properties:
      client_id:
        type: string
        description: 客户端ID
      secret_key_hash:
        type: string
        description: 经过 SHA256 签名的 App 授权密钥
      seed:
        type: string
        description: '随机种子。四个可读ASCII字符，例如：`a#B9`'
  Preferences:
    type: object
    properties:
      enable_choose_status:
        type: boolean
        description: 是否开启选择状态
      enable_comment:
        type: boolean
        description: 是否开启备注
      enable_constitution_differentiation:
        type: boolean
        description: 是否开启中医体质判读
      enable_heart_rate_chart:
        type: boolean
        description: 是否开启心率扇形图
      enable_meridian_bar_graph:
        type: boolean
        description: 是否开启柱状图
      enable_pulse_wave_chart:
        type: boolean
        description: 是否开启波形图
      enable_syndrome_differentiation:
        type: boolean
        description: 是否开启中医脏腑判读
      enable_warm_prompt:
        type: boolean
        description: 是否开启温馨提示
      enable_western_medicine_analysis:
        type: boolean
        description: 是否开启西医判读
      enable_health_trending:
        type: boolean
        description: 是否开启健康趋势
  UserProfile:
    type: object
    properties:
      nickname:
        type: string
        description: 客户昵称
      birthday:
        type: string
        description: 生日 UTC 格式 （可选）
        format: date-time
      age:
        type: integer
        description: 年龄
        minimum: 0
        nullable: true
      gender: *GENDER
      height:
        type: integer
        description: 身高（必填）单位厘米
        minimum: 0
        nullable: true
      weight:
        type: integer
        description: 体重（必填）单位厘米
        minimum: 0
        nullable: true
      phone:
        type: string
        description: 联系电话（可选）
      email:
        type: string
        description: 联系邮箱（可选）
      remark:
        type: string
        description: 备注 不超过200字符
        maxLength: 200
      user_defined_code:
        type: string
        description:  用户自定义代码
      state:
        type: string
        description: 所在省份
      city:
        type: string
        description: 所在城市
      street:
        type: string
        description: 所在街道
      country:
        type: string
        description: 国家
  UserSignIn:
    type: object
    properties:
      sign_in_key:
        type: string
        description: 用户名/邮箱/电话号码
      register_type: *REGISTRY_TYPE
      password_hash:
        type: string
        description: 密码 SHA256 encoded
  PutUserProfile:
    type: object
    description: Gender（性别）不能修改  
    properties:
      profile:
        $ref: '#/definitions/UserProfile'
  UserIDList:
    type: object
    properties:
      user_id_list:
        type: array
        items:
          type: integer
  MeasurementData:
    type: object
    properties:
      user_id:
        type: integer
        description: 用户ID
      data0:
        type: string
        description: base64编码后的二进制蓝牙数据
      data1:
        type: string
        description: base64编码后的二进制蓝牙数据
      mac:
        type: string
        description: 设备 MAC 地址
      mobile_type:
        type: string
        description: |
          设备类型，支持以下字符串值：
          - `ANDROID`
          - `IPHONE`
      app_heart_rate:
        type: integer
        description: App 测的心率
      app_highest_heart_rate:
        type: integer
        description: App 测的最高心率
      app_lowest_heart_rate:
        type: integer
        description: App 测的最低心率
      finger: *FINGER
      record_type: *RECORD_TYPE
      measurement_posture: *MeasurementPosture
  # 智能分析相关 Model
  Analysis:
    type: object
    properties:
      cid:
        type: integer
        description: 测量流水号
      analysis_session:
        type: string
        description: 智能分析会话信息（如果有问询需要在后续请求中填写该字段）
      answers:
        type: array
        items:
          $ref: '#/definitions/Answer'
  Answer:
    type: object
    properties:
      question_key:
        type: string
        description: 问题唯一标识
      values:
        type: array
        description: 答案
        items:
          type: string
          description: 答案的值
  Question:
    type: object
    properties:
      key:
        type: string
        description: 问题的标识
      title:
        type: string
        description: 问题标题
      description:
        type: string
        description: 问题描述
      tip:
        type: string
        description: 问题的提示信息
      type:
        type: string
        description: 单选或多选 单选 single_choice 多选 multiple_choice
      choices:
        type: array
        description: 问题的选项
        items:
          $ref: '#/definitions/QuestionChoiceItem'
      default_keys:
        type: array
        description: 默认选中的 key 清单
        items:
          type: string
          description: 选项的 key

  QuestionChoiceItem:
    type: object
    description: 选择题问题的选项
    properties:
      key:
        type: string
        description: 选项的标识
      name:
        type: string
        description: 选项显示的名称
      value:
        type: string
        description: 选项的值
      conflict_keys:
        type: array
        description: 冲突的选项的 key 清单
        items:
          type: string
          description: 选项的 key

  Questionnaire:
    type: object
    description: 智能分析问卷
    properties:
      title:
        type: string
        description: 问卷的标题
      questions:
        type: array
        description: 问题列表
        items:
          $ref: '#/definitions/Question'
      answers:
        type: array
        description: 答案列表
        items:
          $ref: '#/definitions/Answer'
      created_at:
        type: string
        description: '问卷创建时间 2018-07-04T08:01:27Z 格式'
        format: date-time
  
  # 分析报告
  AnalysisReport:
    type: object
    description: 分析报告
    required:
      - report_version
      - report_id
      - content
    properties:
      report_version:
        type: string
        description: 分析报告版本. 当前仅支持 `1.0` 这个值.
      report_id:
        type: string
        description: 分析报告 ID
      content:
        $ref: '#/definitions/AnalysisReportContent'

  HealthDescriptions: &HEALTH_DESCRIPTIONS
    type: array
    description: 健康描述
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem' 

  AnalysisReportCCStrengthItem:
    type: object
    description: 经络强度 Item
    properties:
      key:
        type: string
        description: 解读项的标识 Key
      label:
        type: array
        description: 经络强度标签
        items:
          $ref: '#/definitions/CCStrengthLabel'
      disabled:
        type: boolean
        description: 是否已经弃用。
      remark:
        type: string
        description: 备注  

  CCStrengthLabel:
    type: object
    description: 经络强度分析的项目的标签
    properties:
      label:
        type: string
        description: 文本标签，可以是HTML
      CC:
        type: string
        description: 经络标识

  ChannelsAndCollateralsStrength: &CHANNELS_AND_COLLATERALS_STRENGTH
    type: array
    description: 经络强度
    items:
      $ref: '#/definitions/AnalysisReportCCStrengthItem'      

  BabyTips: &BABY_TIPS
    type: array
    description: 宝宝提示
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'

  ConstitutionDifferentiationExplainNotices: &CONSTITUTION_DIFFERENTIATION_EXPLAIN_NOTICES
    type: array
    description: 体质判断注意事项
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'    

  ChannelsAndCollateralsExplainNotices: &CHANNELS_AND_COLLATERALS_EXPLAIN_NOTICES
    type: array
    description: 经络检测注意事项
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'

  MeasurementTips: &MEASUREMENT_TIPS
    type: array
    description: 测量提示
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'

  ConstitutionDifferentiationExplains:
    type: array
    description: 体质判断注意事项
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem' 

  DictionaryEntries: &DICTIONARY_ENTRIES
    type: array
    description: 词条描述
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem' 

  FactorExplains: &FACTOR_EXPLAINS
    type: array
    description: 因子解读
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'    

  AnalysisReportContentLead: &ANALYSIS_REPORT_CONTENT_LEAD
    type: array
    description: 分析导语内容
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'

  AnalysisReportContentUserProfile:
    type: object
    description: 分析报告的 UserProfile
    properties:
      user_id:
        type: integer
        description: 用户ID
      nickname:
        type: string
        description: 客户昵称
      birthday:
        type: string
        description: 生日 UTC 格式 （可选）
        format: date-time
      age:
        type: integer
        description: 年龄
        minimum: 0
      gender: *GENDER
      height:
        type: integer
        description: 身高（必填）单位厘米
        minimum: 0
      weight:
        type: integer
        description: 体重（必填）单位厘米
        minimum: 0
      avatar_url:
        type: string
        description: 头像的url

  AnalysisReportContentMeasurementResult:
    type: object
    description: 分析报告中的测量结果信息
    properties:
      finger: *FINGER
      c0:
        type: integer
        description: '心包经 位于区间[-10,10]内'
      c1:
        type: integer
        description: '肝经 位于区间[-10,10]内'
      c2:
        type: integer
        description: '肾经 位于区间[-10,10]内'
      c3:
        type: integer
        description: '脾经 位于区间[-10,10]内'
      c4:
        type: integer
        description: '肺经 位于区间[-10,10]内'
      c5:
        type: integer
        description: '胃经 位于区间[-10,10]内'
      c6:
        type: integer
        description: '胆经 位于区间[-10,10]内'
      c7:
        type: integer
        description: '膀胱经 位于区间[-10,10]内'
      heart_rate:
        type: integer
        description: 服务器返回的心率  
      app_heart_rate:
        type: integer
        description: App 测量的心率
      app_highest_heart_rate:
        type: integer
        description: App 测的最高心率
      app_lowest_heart_rate:
        type: integer
        description: App 测的最低心率  
      partial_pulse_wave:
        type: array
        items:
          type: integer
        description: 截取的波形数据

  AnalysisReportContentTags: &ANALYSIS_REPORT_CONTENT_TAGS
    type: array
    description: 分析报告的选项标签
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'

  AnalysisReportContentTipsForWoman: &ANALYSIS_REPORT_CONTENT_TIPS_FOR_WOMAN
    type: array
    description: 分析报告的女性提示（α）
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'

  AnalysisReportCCExplains: &ANALYSIS_REPORT_CC_EXPLAINS
    type: array
    description: 分析报告的经络解读
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'

  AnalysisReportCDExplains: &ANALYSIS_REPORT_CD_EXPLAINS
    type: array
    description: 分析报告的体质判断
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'

  AnalysisReportSDExplains: &ANALYSIS_REPORT_SD_EXPLAINS
    type: array
    description: 分析报告的脏腑判断
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'

  UterineHealthIndexes: &UTERINE_HEALTH_INDEXES 
    type: array
    description: 分析报告的子宫健康指数（ZG）（α）
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'

  UterusAttentionPrompts: &UTERUS_ATTENTION_PROMPTS
    type: array
    description: 分析报告的子宫注意提示（ZGTS）（α）
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'

  UterineHealthDescriptions: &UTERINE_HEALTH_DESCRIPTIONS
    type: array
    description: 分析报告的子宫健康描述（ZGMS）（α）
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'

  MenstrualHealthValues: &MENSTRUAL_HEALTH_VALUES
    type: array
    description: 分析报告的月经健康数值（YJ）（α）
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'

  MenstrualHealthDescriptions: &MENSTRUAL_HEALTH_DESCRIPTIONS
    type: array
    description: 分析报告的月经健康描述（YJMS）（α）
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'    

  GynecologicalInflammations: &GYNECOLOGICAL_INFLAMMATIONS
    type: array
    description: 分析报告的妇科炎症（FK）（α）
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'        

  GynecologicalInflammationDescriptions: &GYNECOLOGICAL_INFLAMMATIONS_DESCRIPTIONS
    type: array
    description: 分析报告的妇科炎症描述（FKMS）（α）
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'

  BreastHealth: &BREAST_HEALTH
    type: array
    description: 分析报告的乳腺健康（RX）（α）
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'

  BreastHealthDescriptions: &BREAST_HEALTH_DESCRIPTIONS
    type: array
    description: 分析报告的乳腺健康描述（RXMS）（α）
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'

  EmotionalHealthIndexes: &EMOTIONAL_HEALTH_INDEXES
    type: array
    description: 分析报告的情绪健康指数（QX）（α）
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'

  EmotionalHealthDescriptions: &EMOTIONAL_HEALTH_DESCRIPTIONS
    type: array
    description: 分析报告的情绪健康描述（QXMS）（α）
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'

  FacialSkins: &FACIAL_SKINS  
    type: array
    description: 分析报告的面部美肤（MB）（α）
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'

  FacialSkinDescriptions: &FACIAL_SKIN_DESCRIPTIONS
    type: array
    description: 分析报告的面部美肤描述（MBMS）（α）
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'  

  ReproductiveAgeConsiderations: &REPRODUCTIVE_AGE_CONSIDERATIONS
    type: array
    description: 分析报告的生殖年龄注意事项（SZTS）（α）
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'

  HormoneLevels: &HORMONE_LEVEL
    type: array
    description: 分析报告的激素水平（JS）（α）
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem' 

  BreastCancerOvarianCancers: &BREAST_CANCER_OVARIAN_CANCERS
    type: array
    description: 分析报告的乳腺癌卵巢癌（BC）（α）
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem' 
      
  BreastCancerOvarianCancerDescriptions: &BREAST_CANCER_OVARIAN_CANCERS_DESCRIPTIONS
    type: array
    description: 分析报告的乳腺癌卵巢癌描述（BCMS）（α）
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem' 

  LymphaticHealth: &LYMPHATIC_HEALTH
    type: array
    description: 分析报告的淋巴健康（LB）（α）
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem' 
     
  LymphaticHealthDescriptions: &LYMPHATIC_HEALTH_DESCRIPTIONS
    type: array
    description: 分析报告的淋巴健康描述（LBMS）（α）
    items:
      $ref: '#/definitions/AnalysisReportGeneralExplainItem'     

  AnalysisReportGeneralExplainItem:
    type: object
    description: 标准解读 Item
    properties:
      key:
        type: string
        description: 解读项的标识 Key
      label:
        type: string
        description: 解读项的文本标签。支持HTML。
      content:
        type: string
        description: 解读项的正文内容。支持HTML。

  AnalysisReportContent:
    type: object
    description: 分析报告的内容
    properties:
      user_profile:
        $ref: '#/definitions/AnalysisReportContentUserProfile'
      measurement_result:
        $ref: '#/definitions/AnalysisReportContentMeasurementResult'
      tags: *ANALYSIS_REPORT_CONTENT_TAGS
      lead: *ANALYSIS_REPORT_CONTENT_LEAD
      tips_for_woman: *ANALYSIS_REPORT_CONTENT_TIPS_FOR_WOMAN
      channels_and_collaterals_explains: *ANALYSIS_REPORT_CC_EXPLAINS
      constitution_differentiation_explains: *ANALYSIS_REPORT_CD_EXPLAINS
      syndrome_differentiation_explains: *ANALYSIS_REPORT_SD_EXPLAINS
      channels_and_collaterals_strength: *CHANNELS_AND_COLLATERALS_STRENGTH
      constitution_differentiation_explain_notices: *CONSTITUTION_DIFFERENTIATION_EXPLAIN_NOTICES
      channels_and_collaterals_explain_notices: *CHANNELS_AND_COLLATERALS_EXPLAIN_NOTICES
      measurement_tips: *MEASUREMENT_TIPS
      dictionary_entries: *DICTIONARY_ENTRIES
      factor_explains: *FACTOR_EXPLAINS
      baby_tips: *BABY_TIPS
      health_descriptions: *HEALTH_DESCRIPTIONS
      uterine_health_indexes: *UTERINE_HEALTH_INDEXES
      uterus_attention_prompts: *UTERUS_ATTENTION_PROMPTS
      uterine_health_descriptions: *UTERINE_HEALTH_DESCRIPTIONS
      menstrual_health_values: *MENSTRUAL_HEALTH_VALUES
      menstrual_health_descriptions: *MENSTRUAL_HEALTH_DESCRIPTIONS
      gynecological_inflammations: *GYNECOLOGICAL_INFLAMMATIONS
      gynecological_inflammation_descriptions: *GYNECOLOGICAL_INFLAMMATIONS_DESCRIPTIONS
      breast_health: *BREAST_HEALTH
      breast_health_descriptions: *BREAST_HEALTH_DESCRIPTIONS
      emotional_health_indexes: *EMOTIONAL_HEALTH_INDEXES
      emotional_health_descriptions: *EMOTIONAL_HEALTH_DESCRIPTIONS
      facial_skins: *FACIAL_SKINS
      facial_skin_descriptions: *FACIAL_SKIN_DESCRIPTIONS
      reproductive_age_considerations: *REPRODUCTIVE_AGE_CONSIDERATIONS
      hormone_levels: *HORMONE_LEVEL
      breast_cancer_ovarian_cancers: *BREAST_CANCER_OVARIAN_CANCERS
      breast_cancer_ovarian_cancer_descriptions: *BREAST_CANCER_OVARIAN_CANCERS_DESCRIPTIONS
      lymphatic_health: *LYMPHATIC_HEALTH
      lymphatic_health_descriptions: *LYMPHATIC_HEALTH_DESCRIPTIONS
      m0:
        type: integer
        description:  月经健康指数（α）
        nullable: true
      m1:
        type: integer
        description:  月经不调指数（α）
        nullable: true
      m2:
        type: integer
        description:  痛经指数 （α）
        nullable: true
      m3:
        type: integer
        description:  乳腺健康问答计分    （α）
        nullable: true                                                
      display_options:
        $ref: '#/definitions/DisplayOptions'
      remark:
        type: string
        description:  评论
      physical_therapy_explain:
        $ref: '#/definitions/PhysicalTherapyExplain'
      created_at:  
        type: string
        description: '测量时间 utc 时区 2018-07-04T08:01:27Z 格式'
        format: date-time 
  PhysicalTherapyExplain:
    type: object
    properties:
      f0:
        type: integer
        description: 阴指数
      f1:
        type: integer
        description: 阳指数    
      f2:
        type: integer
        description: 湿气指数  
      f3:
        type: integer
        description: 淤血指数                                    
  MeasurementHistoryRecord:
    type: object
    properties:
      user_id:
        type: integer
        description: 用户ID
      cid:
        type: integer
        description: 上下文ID
      transaction_no:
        type: string  
        description: 测量流水号  
      record_id:
        type: integer
        description: 测量记录ID
      c0:
        type: integer
        description: '心包经 位于区间[-10,10]内'
      c1:
        type: integer
        description: '肝经 位于区间[-10,10]内'
      c2:
        type: integer
        description: '肾经 位于区间[-10,10]内'
      c3:
        type: integer
        description: '脾经 位于区间[-10,10]内'
      c4:
        type: integer
        description: '肺经 位于区间[-10,10]内'
      c5:
        type: integer
        description: '胃经 位于区间[-10,10]内'
      c6:
        type: integer
        description: '胆经 位于区间[-10,10]内'
      c7:
        type: integer
        description: '膀胱经 位于区间[-10,10]内'
      app_heart_rate:
        type: integer
        description: App测的心率
      remark:
        type: string
        description: 备注
      created_at:
        type: string
        description: '测量时间 utc 时区 2018-07-04T08:01:27Z 格式'
        format: date-time  
      heart_rate:
        type: integer
        description: 算法服务器测的心率
      finger:
        type: integer
        description: 1左小指-5左大姆 6右大姆-10右小姆
      record_type:
        type: integer
        description: 5是1.5版本，7是1.7以上版本(包括1.7)
      tags: *ANALYSIS_REPORT_CONTENT_TAGS
      has_paid:
        type: boolean
        description: 是否完成支付    （α）           
      show_full_report:
        type: boolean
        description: 是否显示完整报告 
  Remark:
    type: object
    description: 分析报告备注
    properties:
      user_id:
        type: integer
        description: UserID
      remark:
        type: string
        description: 备注

  Mac:
    type: string
    description: MAC 地址
  DeviceList:
    type: array
    items:
      $ref: '#/definitions/Device'
  Device:
    type: object
    properties:
      mac:
        $ref: '#/definitions/Mac'
  OrganizationProfile:
    type: object
    properties:
      name:
        type: string
        description: 组织名称 
      state:
        type: string
        description: 所在省份
      city:
        type: string
        description: 所在城市
      street:
        type: string
        description: 所在街道
      phone:
        type: string
        description: 联系电话
      contact:
        type: string
        description: 联系人
      type:
        type: string
        description: 机构类型
      email:
        type: string
        description: 邮箱
      country:
        type: string
        description: 国家
  OrganizationProfileBody:
    type: object
    properties:
      profile:
        $ref: '#/definitions/OrganizationProfile'
  Measurement:
    type: object
    properties:
      measurement:
        $ref: '#/definitions/MeasurementData'
  Tip:
    type: object
    properties:
      tip:
        type: string
        description: 提示
  Version:
    type: object
    properties:
      version:
        type: string
        description: 服务器版本信息
        
  Weekdays: 
    type: object
    description: 消息推送规律
    properties:
      weekday: *WEEKDAY
      
  LocalNotification: 
    type: object
    properties:
      title:
        type: string
        description: 消息推送时的标题信息
      content:
        type: string
        description: 消息推送时的正文信息
      schedule:
        $ref: '#/definitions/Schedule'
        
  Schedule: 
    type: object
    description: 消息推送规律
    properties: 
      event_happen_at: 
        type: string
        description: 消息推送时间
      timezone: 
        type: string
        description: 时区信息
      repeat:
        nullable: true
        $ref: '#/definitions/RepeatSchedule'
  Days:
    type: integer
    minimum: 1
    maximum: 31
    description: |
          以月为基本单位时，一个月的哪些天推送；
          1代表1号，2代表2号，...，依此类推，31代表31号
  RepeatSchedule: 
    type: object
    description: 消息推送规律
    properties:
      frequency: *FREQUENCY
      interval:
        type: integer  
        description: |
          frequency为FrequencyDaily时，interval表示以天为单位的推送间隔时间；
          frequency为FrequencyWeekly时，interval表示以周为单位的推送间隔时间；
          frequency为FrequencyMonthly时，interval表示以月为单位的推送间隔时间
      has_weekdays:
        type: boolean
        description:
          是否以周为基本单位
      weekdays:
        type: array
        items:
          $ref: '#/definitions/Weekdays'
      has_month_days:
        type: boolean
        description:
          是否以月为基本单位
      month_days:
        type: array   
        items:
          $ref: '#/definitions/Days'
      max_notification_times:
        type: integer
        nullable: true
        description: 最大推送次数
      end_at:
        type: string
        nullable: true
        description: 推送结束时间
  DisplayOptions:
    type: object
    properties:
      display_navbar:
        type: boolean
        description: 是否显示导航
      display_tags:
        type: boolean
        description: 是否显示健康状态
      display_partial_data:
        type: boolean
        description: 是否显示波形图数据
      display_user_profile:
        type: boolean
        description: 是否显示用户信息
      display_heart_rate:
        type: boolean
        description: 是否显示心率
      display_cc_bar_chart:
        type: boolean
        description: 是否显示经络柱状图
      display_cc_explain:
        type: boolean
        description: 是否显示脉诊数据
      display_cd_explain:
        type: boolean
        description: 是否显示体质辩证
      display_sd_explain:
        type: boolean
        description: 是否显示脏腑辩证
      display_f0:
        type: boolean
        description: 是否显示阴指数
      display_f1:
        type: boolean
        description: 是否显示阳指数
      display_f2:
        type: boolean
        description: 是否显示湿气指数
      display_f3:
        type: boolean
        description: 是否显示淤血指数
      display_physical_therapy_explain:
        type: boolean
        description: 是否显示理疗
      display_remark:
        type: boolean
        description: 是否显示评论
      display_measurement_result:
        type: boolean
        description: 是否显示测量结果
      display_baby_tips:
        type: boolean
        description: 是否显示宝宝提示
      display_wh:
        type: boolean
        description: 是否显示女性健康  （α）
  RecordTokenResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/RecordToken'
  RecordToken:
    type: object
    properties:
      token:
        type: string
        description: 分享记录的token  
  ReadNotification:
    type: object
    properties:
      pn_id:
        type: integer
        description: 通知ID
  ReadNotificationResponse:                
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        # required:
        #   - data
        properties:
          data:
            nullable: true
            $ref: '#/definitions/NullAble'
  Notification:
    type: object
    properties:
      pn_id:
        type: integer
        description: 通知ID
      pn_display_time:
        type: string
        description: 通知显示时间
      pn_title:
        type: string
        description: 通知标题
      pn_image_url:
        type: string
        description: 通知图片URL
      pn_content_url:
        type: string
        description: 通知内容URL                     
  GetNotificationsResponse: 
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            type: array
            items:
              $ref: '#/definitions/Notification' 
  Prefix:
    type: string
    description: 前缀
  NamePrefix:
    type: object
    properties:
      localNamePrefixs:
        type: array
        description: 名称前缀
        items:
          $ref: '#/definitions/Prefix'
  GetBluetoothNamePrefixesResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/NamePrefix'
  GetLatestTokenResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/AccessToken'
  AccessToken:
    type: object
    properties:
      access_token:
        type: string
        description: 登录的token 
  GetActivationCodeInfoResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/ActivationCodeInfo'
  ActivationCodeInfo:
    type: object
    properties:
      max_user_count:
        type: string
        description: 最大人数 
      contract_year:
        type: string
        description: 年限
      subscription_type: *SUBSCRIPTION_TYPE
  Code:
    type: object
    properties:
      code:
        type: string
        description: 激活码 
  UseSubscriptionActivationCodeResponse:
    allOf:
      - $ref: '#/definitions/BasicResponse'
      - type: object
        # required:
        #   - data
        properties:
          data:
            nullable: true
            $ref: '#/definitions/NullAble'

externalDocs:
  description: Find out more about JinmuHealth
  url: 'http://www.jinmuhealth.com/developer/developer-plan.html'
